body {
	background-color: #000a11;
}

h1 { text-decoration: underline; }

ul {padding: 0;}

ul li { list-style-type: none; }

p { font-size: 20px; }

hr {width: 850px;}

a, a:visited{ color: #ccc; }

#logo{ 
	margin-bottom: -90px;
	margin-top: -60px;	
}

#infoPage{
	text-align: center;
	color: #ccc;
}

#services { margin-top: 15px; }

#services ul li {
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

#services a, #services a:visited { color:#ccc; }

#features { 
	width: 900px; 
	margin: 0 auto;
	display: table;
	table-layout: fixed;
}

#features div {
	display: table-cell;
}